.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  min-height: 24px;
}

.link {
  margin-left: 10px;
  white-space: nowrap;
  transition: opacity 0.2s;
}

.icon {
  flex-shrink: 0;
  fill: var(--inverted-primary-color);
}

.collapsed {
  .link {
    opacity: 0;
    width: 0;
  }
}
