.appLink {
  color: var(--primary-color);

  &_header {
    display: none;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.red {
  color: red;
}
